{% extends "layouts/base.html" %}
{% load static %}
{% load tz %}

{% block title %} vCard QR Code {% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block body_class %} blog-author bg-gray-100 {% endblock %}

{% block content %}

  {% include 'includes/navigation.html' %}

  <!-- START vCard QR Section -->
  <header class="header-2">
    <div class="page-header min-vh-75 relative" style="background-image:url('{% static 'assets/img/added-images/analytics.png' %}')">
      <span class="mask bg-gradient-dark"></span>
      <div class="container pt-4">
        <div class="row">
          <div class="col-xl-8 col-lg-10 col-md-11 mx-auto">
            <div class="card mt-4 bg-white shadow-lg">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-lg-4 col-md-5 position-relative my-auto py-2">
                    {% if current_user.is_authenticated %}
                      <div class="text-center">
                        <img src="{% url 'generate_vcard_qr_image' user_id=current_user.id %}" alt="vCard QR Code" class="img border-radius-lg w-100 position-relative z-index-2 max-width-200" style="max-width: 300px;">
                      </div>
                      <br><br>
                      <div class="text-center">
                        <p class="lead">
                          Scan this QR code to add your contact information to a smartphone.
                        </p>
                      </div>
                    {% else %}
                      <div class="text-center">
                        <p class="lead">Please log in to generate your vCard QR code.</p>
                        <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
                      </div>
                    {% endif %}
                  </div>
                  <div class="col-lg-8 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4 py-2">
                    {% if current_user.is_authenticated %}
                      <div class="mb-2">
                        <p class="form-label mb-0">Name</p>
                        <h4 class="mb-0">{{ current_user.first_name }} {{ current_user.last_name }}</h4>
                      </div>
                      <br>
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <div>
                          <p class="form-label mb-0">Email</p>
                          <h4 class="mb-0">
                            {% if current_user.email %}
                              {{ current_user.email }}
                            {% else %}
                              {% if current_user.socialaccount_set.first %}
                                {% if current_user.socialaccount_set.first.provider == 'github' %}
                                  Authenticated with Github
                                {% elif current_user.socialaccount_set.first.provider == 'twitter' %}
                                  Authenticated with Twitter
                                {% endif %}
                              {% endif %}
                            {% endif %}
                          </h4>
                        </div>
                      </div>
                      {% if current_user.website %}
                      <div class="mb-2">
                        <p class="form-label mb-0">Website</p>
                        <h4 class="mb-0">
                          <a href="{{ current_user.website }}" target="_blank">{{ current_user.website }}</a>
                        </h4>
                      </div>
                      <br>
                      {% endif %}
                      <div id="bio">
                        <p class="form-label mb-0">Bio</p>
                        <p class="text-lg mb-0">
                          {{ current_user.bio|default:"N/A"|safe }}
                        </p>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
          </g>
        </svg>
      </div>
    </div>
  </header>
  <!-- END vCard QR Section -->

  {% include 'includes/footer-5.html' %}

{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}
